.main {
  background-image: url("../../assets/mainImage.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: xx-large;
}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNav > * {
  margin: 1vh;
}

.mainSocials {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: xx-large;
}

.mainSocials > * {
  margin-left: 1vh;
}
