.container.contactContainer {
  width: 58%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  margin: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background: transparent;
  border: 2px solid var(--color-primary);
  resize: none;
  color: var(--color-white);
}
